.movie {
  width: 100%;
  border-radius: 0.5rem;
}

.movie__img__container {
  position: relative;
  width: 100%;
  height: 304px;
  border-radius: 0.5rem;
  overflow: hidden;
  cursor: pointer;
}

.movie__placeholder__img {
  display: block;
  position: absolute;
  width: 100%;
  height: 304px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.movie__img {
  width: 100%;
  height: 304px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.movie__title {
  margin-top: 0.5rem;
  font-size: 1.3rem;
  font-weight: 600;
  color: #028dde;
}

.movie__info {
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
  height: 304px;
  overflow: auto;
}

.movie__info h4 {
  margin-top: 0.5rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: #00a8eb;
}

.movie__year__rate {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.movie__rate {
  display: flex;
  align-items: center;
  color: gold;
  font-weight: 600;
}