/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

body {
  line-height: 1.6;
}

*::-webkit-scrollbar {
  width: 0.4rem;
}

*::-webkit-scrollbar-thumb {
  background-color: #656565;
  border-radius: 0.3rem;
}

*::-webkit-scrollbar-track {
  background: #e9e9e9;
  border-radius: 0.3rem;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}